*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#e8f5e9;
    color:#222;
    line-height:1.7;
}

header{
    background:linear-gradient(90deg,#006400,#00a651);
    color:white;
    text-align:center;
    padding:40px;
}

nav{
    background:#003b1f;
    display:flex;
    justify-content:center;
    gap:25px;
    padding:15px;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
    transition:.3s;
}

nav a:hover{
    color:yellow;
}

main{
    width:85%;
    margin:auto;
    padding:30px;
}

section{
    background:white;
    margin-bottom:30px;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 12px rgba(0,0,0,.2);
}

h2{
    color:#006400;
    margin-bottom:15px;
}

aside{
    margin-top:20px;
    background:#d9ffd9;
    border-left:6px solid green;
    padding:15px;
    border-radius:8px;
}

details{
    margin:15px 0;
    padding:12px;
    background:#f5f5f5;
    border-radius:10px;
    cursor:pointer;
}

summary{
    font-weight:bold;
}

footer{
    text-align:center;
    background:#003b1f;
    color:white;
    padding:25px;
}

button{
    margin-top:20px;
    padding:12px 25px;
    border:none;
    border-radius:8px;
    background:green;
    color:white;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#00a651;
    transform:scale(1.08);
}

section:hover{
    transform:translateY(-4px);
    transition:.3s;
}